{{ define "page-contents" }}
    <!-- Page Header start -->
    {{ block "header" . }}{{ end }}
    <!-- Page Header end -->

    <!-- Page Content start -->
    <div class="row">
        <div class="col s12 m6 l6" id="content-area-1">
            {{ block "content-left" . }}{{ end }}
        </div>
        <div class="col s12 m6 l6" id="content-area-2">
            {{ block "content-right" . }}{{ end }}
        </div>
    </div>
    <!-- Page Content end -->
{{ end }} 
