<div class="container">
	<div class="row">

		<div class="col s6 m4 l2">
			{{ ad "correctingtime.png" "http://www.correctingtime.org"}}
		</div>

		<div class="col s6 m4 l2">
			{{ ad "magisterialmission.png" "http://www.magisterialmission.org"}}
		</div>

		<div class="col s6 m4 l2">
			{{ ad "teachingmissionnetwork.png" "http://www.teachingmissionnetwork.com"}}
		</div>

		<div class="col s6 m4 l2">
			{{ ad "jimcleavelandauthor.png" "http://www.jimclevelandauthor.com"}}
		</div>

		<div class="col s6 m4 l2">
			{{ ad "urantiahub.png" "http://www.urantiahub.org"}}
		</div>

		<div class="col s6 m4 l2">
			{{ ad "spiritualhub.png" "http://www.spiritualhub.org"}}
		</div>

	</div>
</div>
