{{ with .Listings }}

    {{ if .Categories.Count }}
    <div class="card grey lighten-2">
        <div class="card-content">
            <div class="row">
                <div class="col s12 l12">
                    <h5>Teaching Mission Network</h5>
                    <ul class="collection">
                    {{ with .Categories}}
                        {{ range .Categories }}
                            <a href="/category/{{- .Id -}}" class="collection-item orange-text">{{ .Name }}</a>
                        {{ end }}
                    {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{ end }}


{{ end }}
