<footer class="page-footer">
    <!-- Don't show footer container on the home page -->
    <div class="container">
        <div class="row">

            <div class="col l5 m12 s12 white-text">
                <p>
                    <img src="/images/tm-footer-logo.png">
                    <a href="https://twitter.com/TeachingMission" class="right">&nbsp; <img src="/images/socials/twitter.png"> </a>
                    <a href="https://fb.com/TeachingMission" class="right">&nbsp; <img src="/images/socials/facebook.png"> </a>
                </p>
                <p>An interactive, searchable library and archive of more than a quarter-century of personal spiritual growth lessons from celestial teachers.  This portal is about teaching and learning true spiritual values. As we grow, it will grow.</p> 
            </div>

            <div class="col l1 hide-on-med-and-down">
            &nbsp;
            </div>

            <!-- Urantia Tech ads -->
            <div class="col l3 m6 s12 white-text">
                <p class="header">
                    <a href="http://www.urantiatech.com" target="_blank" class="white-text">
                        <img src="/images/ads/urantiatech.png" alt="UrantiaTech.com">
                    </a>
                </p>
                Website Development, Mobile Apps, AWS/Google Cloud Computing, SEO, eBook Development.
            </div>

            <!-- Urantia Host ads -->
            <div class="col l3 m6 s12 white-text">
                <p class="header">
                    <a href="http://www.urantiahost.com" target="_blank" class="white-text">
                        <img src="/images/ads/urantiahost.png" alt="UrantiaHost.com">
                    </a>
                </p>
                Domain Registration, Shared Hosting, VPS, SSL Certificates, Cloud Hosting, Email Hosting.
            </div>

        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            Copyright © 2017 <a class="grey-text text-lighten-4" href="/">Teaching Mission</a> All rights reserved.
            <span class="right">
                Designed &amp; Developed by <a class="grey-text text-lighten-4" 
                href="http://www.urantiatech.com/" target="_blank">UrantiaTech</a>, 
                Hosted by <a class="grey-text text-lighten-4" href="http://www.urantiahost.com/" target="_blank">UrantiaHost</a>
            </span>
        </div>
    </div>
</footer>