<header id="header" class="page-topbar">
	<!-- start header nav-->
	<div class="navbar-fixed">
		<nav class="navbar-color">
			<div class="nav-wrapper">
				<ul class="left">
					<li>
						<h1 class="logo-wrapper">
							<a href="/" class="brand-logo darken-1">
								<img class="hide-on-small-only" src="/images/tm-logo.png" alt="Teaching Mission">
								<img class="hide-on-med-and-up" src="/images/tm-logo-small.png" alt="T M">
							</a>
							<span class="logo-text">Teaching Mission</span>
						</h1>
					</li>
				</ul>

				{{ if isSearch . }}
					<!-- Header Center Bar start -->
					<span class="header-note center hide-on-med-and-down">
						<em class="caption white-text">An archive of personal Spiritual Growth lessons from Celestial Teachers.</em>
						<!--
						<a class="btn-floating waves-effect waves-light orange darken-2 white-text">CT</a>
						<a class="btn-floating waves-effect waves-light orange darken-2 white-text">UB</a>
						<a class="btn-floating waves-effect waves-light orange darken-2 white-text">TM</a>
						<a class="btn-floating waves-effect waves-light orange darken-2 white-text">MM</a>
						<a class="btn-floating waves-effect waves-light orange darken-2 white-text">SS</a>
						-->
					</span>
					<!-- Header Center Bar end -->
				{{ else }}
					<!-- Header Search start -->
					<form class="header-search-wrapper hide-on-med-and-down" action="/">
						<i class="mdi-action-search"></i>
						<input type="text" name="q" class="header-search-input z-depth-2" 
							placeholder="Search Teaching Mission archives ..."/>
					</form>
					<!-- Header Search end -->
				{{ end }}

				<ul class="right">
					{{ $langcode := .LangCode }}
					{{ range $code, $lang := .LanguageMap }}
						{{ if eq $langcode $code }}
					<li>
						<a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button"  data-activates="translation-dropdown"><img src="/images/flag-icons/{{- $lang.Flag -}}" alt="{{- $lang.Name -}}" /></a>
					</li>
						{{ end }}
					{{ end }}
					<li>
						<a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen hide-on-med-and-down"><i class="mdi-action-settings-overscan"></i></a>
					</li>
					<li>
						<a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown"><i class="mdi-social-person"></i></a>
					</li>                        
					<li>
						<a href="#" data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse  hide-on-med-and-down"><i class="mdi-communication-live-help "></i></a>
					</li>
				</ul>
				<!-- translation-button -->
				<ul id="translation-dropdown" class="dropdown-content">
					{{ range $code, $lang := .LanguageMap }}
						{{ if ne $langcode $code }}
					<li>
						<a href="http:// {{- $lang.Subdomain -}} .teachingmission.org:8080"><img src="/images/flag-icons/ {{- $lang.Flag -}}" alt="{{- $lang.Name -}}" />  <span class="language-select">{{ $lang.Name }} </span></a>
					</li>
						{{ end }}
					{{ end }}
				</ul>
				
				<!-- notifications-dropdown -->
				<ul id="notifications-dropdown" class="dropdown-content">
					<li>
						<a href="/login"><i class="mdi-action-exit-to-app"></i> Login </a>
					</li>
					<li>
						<a href="/register"><i class="mdi-social-person-add"></i> Register </a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<!-- end header nav-->
</header>
