<footer class="home-footer page-footer blue-grey darken-1">
    <div class="footer-copyright blue-grey darken-1">
        <div class="">
            Copyright © 2017 <a class="grey-text text-lighten-4" href="/">Teaching Mission</a> All rights reserved.
            <span class="right">
                Designed &amp; Developed by <a class="grey-text text-lighten-4" 
                href="http://www.urantiatech.com/" target="_blank">UrantiaTech</a>,
                Hosted by <a class="grey-text text-lighten-4" 
                href="http://www.urantiahost.com/" target="_blank">UrantiaHost</a>
            </span>
        </div>
    </div>
</footer>