<!-- ================================================
Scripts
================================================ -->

<!-- jQuery Library -->
<script type="text/javascript" src="/js/plugins/jquery-1.11.2.min.js"></script>

<!--prism -->
<script type="text/javascript" src="/js/plugins/prism/prism.js"></script>
<!--rangeSlider -->
<script type="text/javascript" src="/js/plugins/ionRangeSlider/js/ion.rangeSlider.js"></script>

<!--materialize js-->
<script type="text/javascript" src="/js/materialize.js"></script>
<!--scrollbar-->
<script type="text/javascript" src="/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>


<!-- google map api -->
<!-- script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAZnaZBXLqNBRXjd-82km_NO7GUItyKek"></script -->


<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="/js/plugins.js"></script>

<!--custom-script.js - Add your own theme custom JS-->
<script type="text/javascript" src="/js/custom-script.js"></script>

<!--tap-target.js - Add your own theme custom JS-->
<script type="text/javascript" src="/js/tap-target.js"></script>

<!-- vue.js and axiom for ajax requests -->
<script type="text/javascript" src="/js/vue.js"></script>
<!-- script type="text/javascript" src="/js/axiom.min.js"></script -->
