{{ define "sidebar" }}
<div class="card cyan">
<div class="card-content white-text">

    <div class="row">
        <div class="col s12">
            <!-- SearchBar start -->
            {{ template "searchbar" . }}
            <!-- SearchBar end -->
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <h5>Teachers</h5>
            <div class="collection">
                <a href="#!" class="collection-item">Christ Michael (Jesus)</a>
                <a href="#!" class="collection-item">Monjoronson</a>
                <a href="#!" class="collection-item">Machiventa Melchizedek</a>
                <a href="#!" class="collection-item">Damascus Scribe</a>
                <a href="#!" class="collection-item">Thought Adjusters</a>
                <a href="#!" class="collection-item">Teacher Ophelius</a>
                <a href="#!" class="collection-item">Other Teachers</a>
                <a href="#!" class="collection-item">Christ Michael (Jesus)</a>
                <a href="#!" class="collection-item">Monjoronson</a>
                <a href="#!" class="collection-item">Machiventa Melchizedek</a>
                <a href="#!" class="collection-item">Damascus Scribe</a>
                <a href="#!" class="collection-item">Thought Adjusters</a>
                <a href="#!" class="collection-item">Teacher Ophelius</a>
                <a href="#!" class="collection-item">Other Teachers</a>
            </div>
        </div>
        <div class="col s12 m6">
            <h5>Categories</h5>
            <ul class="collection">
                <a href="#!" class="collection-item">Personal Growth<span class="badge">1</span></a>
                <a href="#!" class="collection-item">Meditation<span class="new badge">4</span></a>
                <a href="#!" class="collection-item">T/R Learning</a>
                <a href="#!" class="collection-item">Others<span class="badge">14</span></a>
                <a href="#!" class="collection-item">Personal Growth<span class="badge">1</span></a>
                <a href="#!" class="collection-item">Meditation<span class="new badge">4</span></a>
                <a href="#!" class="collection-item">T/R Learning</a>
                <a href="#!" class="collection-item">Others<span class="badge">14</span></a>
            </ul>
            <br>
            <h5>Teams</h5>
            <ul class="collection">
                <a href="#!" class="collection-item">11:11 Progress Group<span class="badge">1</span></a>
                <a href="#!" class="collection-item">Team NET<span class="badge">4</span></a>
                <a href="#!" class="collection-item">Team 3</a>
                <a href="#!" class="collection-item">All Others<span class="badge">14</span></a>
            </ul>
        </div>
    </div>

</div>
</div>
{{ end }}