<div class="card grey lighten-2">
<div class="card-content">

    <div class="row">
        <div class="col s12 m6">
            <h5>Teachers</h5>
            <div class="collection">
                <a href="#!" class="collection-item orange-text">Christ Michael (Jesus)</a>
                <a href="#!" class="collection-item orange-text">Monjoronson</a>
                <a href="#!" class="collection-item orange-text">Machiventa Melchizedek</a>
                <a href="#!" class="collection-item orange-text">Damascus Scribe</a>
                <a href="#!" class="collection-item orange-text">Thought Adjusters</a>
                <a href="#!" class="collection-item orange-text">Teacher Ophelius</a>
                <a href="#!" class="collection-item orange-text">Other Teachers</a>
                <a href="#!" class="collection-item orange-text">Christ Michael (Jesus)</a>
                <a href="#!" class="collection-item orange-text">Monjoronson</a>
                <a href="#!" class="collection-item orange-text">Machiventa Melchizedek</a>
                <a href="#!" class="collection-item orange-text">Damascus Scribe</a>
                <a href="#!" class="collection-item orange-text">Thought Adjusters</a>
                <a href="#!" class="collection-item orange-text">Teacher Ophelius</a>
                <a href="#!" class="collection-item orange-text">Other Teachers</a>
            </div>
        </div>
        <div class="col s12 m6">
            <h5>Categories</h5>
            <ul class="collection">
                <a href="#!" class="collection-item orange-text">Personal Growth<span class="badge">1</span></a>
                <a href="#!" class="collection-item orange-text">Meditation<span class="new badge">4</span></a>
                <a href="#!" class="collection-item orange-text">T/R Learning</a>
                <a href="#!" class="collection-item orange-text">Others<span class="badge">14</span></a>
                <a href="#!" class="collection-item orange-text">Personal Growth<span class="badge">1</span></a>
                <a href="#!" class="collection-item orange-text">Meditation<span class="new badge">4</span></a>
                <a href="#!" class="collection-item orange-text">T/R Learning</a>
                <a href="#!" class="collection-item orange-text">Others<span class="badge">14</span></a>
            </ul>
            <br>
            <h5>Teams</h5>
            <ul class="collection">
                <a href="#!" class="collection-item orange-text">11:11 Progress Group<span class="badge">1</span></a>
                <a href="#!" class="collection-item orange-text">Team NET<span class="badge">4</span></a>
                <a href="#!" class="collection-item orange-text">Team 3</a>
                <a href="#!" class="collection-item orange-text">All Others<span class="badge">14</span></a>
            </ul>
        </div>
    </div>

</div>
</div>