{{ define "stylesheets" }}
	<!-- CORE CSS-->    
	<link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
	<link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
	<!-- CSS for full screen (Layout-2)-->    
	<link href="/css/layouts/style-fullscreen.css" type="text/css" rel="stylesheet" media="screen,projection">
	<!-- Custome CSS-->    
	<link href="/css/custom/custom.css" type="text/css" rel="stylesheet" media="screen,projection">

	<!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
	<link href="/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
	<link href="/js/plugins/jvectormap/jquery-jvectormap.css" type="text/css" rel="stylesheet" media="screen,projection">
	<link href="/js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">


	<link href="/js/plugins/ionRangeSlider/css/ion.rangeSlider.css" type="text/css" rel="stylesheet" media="screen,projection">
	<!--Flat Skin-->
	<link href="/js/plugins/ionRangeSlider/css/ion.rangeSlider.skinFlat.css" type="text/css" rel="stylesheet" media="screen,projection">

	<!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
	<link href="/js/plugins/prism/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
{{ end }}