{{ define "taptarget" }}

      <div id="introduction" class="section scrollspy">

        <a class="waves-effect waves-light btn" onclick="$('.tap-target').tapTarget('open')">Open tap target</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="waves-effect waves-light btn" onclick="$('.tap-target').tapTarget('close')">Close tap target</a>

        <div class="fixed-action-btn" style="bottom: 40px; right: 24px;">
          <a id="menu" class="btn btn-floating btn-large pink"><i class="mdi-action-stars"></i></a>
        </div>

        <div class="tap-target pink" data-activates="menu">
          <div class="tap-target-content white-text">
            <h5 class="right-align">Thought Adjuster</h5>
            <p class="white-text right-align"> - Pre-personal fragment of the Universal Father that indwells the human mind. Man is spiritually indwelt by a surviving thought adjuster. If such a human mind is sincerely and spiritually motivated, if such a human soul desires to know God and become like him, honestly wants to do the Father’s will, there exists no negative influence of mortal deprivation nor positive power of possible interference which can prevent such a divinely motivated soul from securely ascending to the portals of Paradise. </p>
          </div>
        </div>
      </div>


{{ end }}