{{ define "topnavbar" }}
  <!-- HORIZONTL NAV START-->
  <nav id="horizontal-nav" class="white hide-on-med-and-down">
  <div class="nav-wrapper">                  
    <ul id="ul-horizontal-nav" class="left hide-on-med-and-down">
      <li>
          <a href="index.html" class="cyan-text">
              <i class="mdi-action-dashboard"></i>
              <span>Social Sustainability</span>
          </a>
      </li>
      <li>
          <a href="app-email.html" class="cyan-text">
              <i class="mdi-communication-email"></i>
              <span>Personal Growth</span>
          </a>
      </li>                    
      <li>
          <a class="dropdown-menu cyan-text" href="#!" data-activates="CSSdropdown">
              <i class="mdi-action-invert-colors"></i>
              <span>Email Lessons<i class="mdi-navigation-arrow-drop-down right"></i></span>
          </a>
      </li>
      <li>
          <a class="dropdown-menu cyan-text" href="#!" data-activates="UIElementsdropdown">
              <i class="mdi-image-palette"></i>
              <span>UI Elements<i class="mdi-navigation-arrow-drop-down right"></i></span>
          </a>
      </li>
      <li>
          <a href="app-widget.html" class="cyan-text">
              <i class="mdi-device-now-widgets"></i>
              <span>T/R Process</span>
          </a>
      </li>
      <li>
          <a class="dropdown-menu cyan-text" href="#!" data-activates="Tablesdropdown">
              <i class="mdi-editor-border-all"></i>
              <span>Meditation<i class="mdi-navigation-arrow-drop-down right"></i></span>
          </a>
      </li>
      <li>
          <a class="dropdown-menu cyan-text" href="#!" data-activates="Formsdropdown">
              <i class="mdi-editor-insert-comment"></i>
              <span>Blog<i class="mdi-navigation-arrow-drop-down right"></i></span>
          </a>
      </li>
      <li>
          <a class="dropdown-menu cyan-text" href="#!" data-activates="Pagesdropdown">
              <i class="mdi-social-pages"></i>
              <span>Forum<i class="mdi-navigation-arrow-drop-down right"></i></span>
          </a>
      </li>
      <li>
          <a class="dropdown-menu cyan-text" href="#!" data-activates="eCommersdropdown">
              <i class="mdi-action-shopping-cart"></i>
              <span>Store<i class="mdi-navigation-arrow-drop-down right"></i></span>
          </a>
      </li>                    
      <li>
          <a class="dropdown-menu cyan-text" href="#!" data-activates="Usersdropdown">
              <i class="mdi-action-account-circle"></i>
              <span>About<i class="mdi-navigation-arrow-drop-down right"></i></span>
          </a>
      </li>
      <li>
          <a class="dropdown-menu cyan-text" href="#!" data-activates="Chartsdropdown">
              <i class="mdi-editor-insert-chart"></i>
              <span>Contact<i class="mdi-navigation-arrow-drop-down right"></i></span>
          </a>
      </li>
      
    </ul>
  </div>
  </nav>

  <!-- CSSdropdown -->
  <ul id="CSSdropdown" class="dropdown-content dropdown-horizontal-list">
    <li><a href="css-typography.html" class="cyan-text">Typography</a></li>
    <li><a href="css-icons.html" class="cyan-text">Icons</a></li>                  
    <li><a href="css-shadow.html" class="cyan-text">Shadow</a></li>
    <li><a href="css-media.html" class="cyan-text">Media</a></li>                  
    <li><a href="css-sass.html" class="cyan-text">Sass</a></li>
  </ul>

  <!-- UIElementsdropdown-->
  <ul id="UIElementsdropdown" class="dropdown-content dropdown-horizontal-list">
    <li><a href="ui-buttons.html" class="cyan-text">Buttons</a></li>
    <li><a href="ui-badges.html" class="cyan-text">Badges</a></li>                  
    <li><a href="ui-cards.html" class="cyan-text">Cards</a></li>
    <li><a href="ui-collections.html" class="cyan-text">Collections</a></li>                  
    <li><a href="ui-accordions.html" class="cyan-text">Accordian</a></li>
    <li><a href="ui-navbar.html" class="cyan-text">Navbar</a></li>
    <li><a href="ui-pagination.html" class="cyan-text">Pagination</a></li>
    <li><a href="ui-preloader.html" class="cyan-text">Preloader</a></li>
    <li><a href="ui-modals.html" class="cyan-text">Modals</a></li>
    <li><a href="ui-media.html" class="cyan-text">Media</a></li>
    <li><a href="ui-toasts.html" class="cyan-text">Toasts</a></li>
    <li><a href="ui-tooltip.html" class="cyan-text">Tooltip</a></li>
  </ul>

  <!-- Tablesdropdown -->
  <ul id="Tablesdropdown" class="dropdown-content dropdown-horizontal-list">
    <li><a href="table-basic.html" class="cyan-text">Basic Tables</a></li>
    <li><a href="table-data.html" class="cyan-text">Data Tables</a></li>
  </ul>

  <!-- Formsdropdown -->
  <ul id="Formsdropdown" class="dropdown-content dropdown-horizontal-list">
    <li><a href="form-elements.html" class="cyan-text">Form Elements</a></li>
    <li><a href="form-layouts.html" class="cyan-text">Form Layouts</a></li>
  </ul>

  <!-- Pagesdropdown -->
  <ul id="Pagesdropdown" class="dropdown-content dropdown-horizontal-list">
      
      <li><a href="page-invoice.html" class="cyan-text">Invoice</a></li>
      <li><a href="page-404.html" class="cyan-text">404</a></li>
      <li><a href="page-500.html" class="cyan-text">500</a></li>
      <li><a href="page-blank.html" class="cyan-text">Blank</a></li>
  </ul>

  <!-- eCommers -->
  <ul id="eCommersdropdown" class="dropdown-content dropdown-horizontal-list">
      <li><a href="eCommerce-products-page.html"  class="cyan-text">eCommerce Products </a></li>
      <li><a href="eCommerce-pricing.html"  class="cyan-text">Pricing Page</a></li>
      <li><a href="eCommerce-invoice.html"  class="cyan-text">Invoice</a></li>
  </ul>

  <!-- Mediasdropdown -->
  <ul id="Mediasdropdown" class="dropdown-content dropdown-horizontal-list">                    
      <li><a href="media-gallary-page.html"  class="cyan-text">Gallary Page</a></li>
      <li><a href="media-hover-effects.html"  class="cyan-text">Image Hover Effects</a></li>
  </ul>

  <!-- Usersdropdown -->
  <ul id="Usersdropdown" class="dropdown-content dropdown-horizontal-list">
      <li><a href="user-profile-page.html"  class="cyan-text">User Profile</a></li>
      <li><a href="user-login.html"  class="cyan-text">Login</a></li>
      <li><a href="user-register.html" class="cyan-text">Register</a></li>
      <li><a href="user-forgot-password.html" class="cyan-text">Forgot Password</a></li>                    
      <li><a href="user-lock-screen.html" class="cyan-text">Lock Screen</a></li>
      <li><a href="user-sesssion-timeout.html" class="cyan-text">Session Timeout</a></li>
  </ul>

  <!-- Chartsdropdown -->
  <ul id="Chartsdropdown" class="dropdown-content dropdown-horizontal-list">
      <li><a href="charts-chartjs.html" class="cyan-text">Chart JS</a></li>
      <li><a href="charts-chartist.html" class="cyan-text">Chartist</a></li>
      <li><a href="charts-morris.html" class="cyan-text">Morris Charts</a></li>
      <li><a href="charts-xcharts.html" class="cyan-text">xCharts</a></li>
      <li><a href="charts-flotcharts.html" class="cyan-text">Flot Charts</a></li>
      <li><a href="charts-sparklines.html" class="cyan-text">Sparkline Charts</a></li>
  </ul>
  <!-- HORIZONTL NAV END-->
{{ end }}