{{ define "websites" }}
	<div class="row">

		<div class="col s12 m6 l3">
          <div class="card">
          <a href="http://www.site1.org">
            <div class="card-image">
              <img src="/images/site1.jpg">
            </div>
           </a>
          </div>
		</div>

		<div class="col s12 m6 l3">
          <div class="card">
          <a href="http://www.site2.org">
            <div class="card-image">
              <img src="/images/site2.jpg">
            </div>
           </a>
          </div>
		</div>

		<div class="col s12 m6 l3">
          <div class="card">
          <a href="http://www.site3.org">
            <div class="card-image">
              <img src="/images/site3.jpg">
            </div>
           </a>
          </div>
		</div>

		<div class="col s12 m6 l3">
          <div class="card">
          <a href="http://www.site4.org">
            <div class="card-image">
              <img src="/images/site4.jpg">
            </div>
           </a>
          </div>
		</div>

	</div>
{{ end }}